@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap');
body{
  background-color: white;
}
/* start of loader */
#spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: transparent;
}
.custom-loader {
  width: 40px;
  height: 20px;
  --c:radial-gradient(farthest-side,#FF8513 93%,#0000);
  background:
    var(--c) 0    0,
    var(--c) 50%  0;
  background-size:8px 8px;
  background-repeat: no-repeat;
  position: relative;
  clip-path: inset(-200% -100% 0 0);
  animation: db6-0 1.5s linear infinite;
}
.custom-loader:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background:#FF8513;
  left:-16px;
  top:0;
  animation: 
    db6-1 1.5s linear infinite,
    db6-2 0.5s cubic-bezier(0,200,.8,200) infinite;
}
.custom-loader:after {
  content: "";
  position: absolute;
  inset:0 0 auto auto;
  width:8px;
  height: 8px;
  border-radius: 50%;
  background:#FF8513; 
  animation: db6-3 1.5s  linear infinite;
}

@keyframes db6-0 {
  0%,30%  {background-position: 0  0   ,50% 0   }
  33%     {background-position: 0  100%,50% 0   }
  41%,63% {background-position: 0  0   ,50% 0   }
  66%     {background-position: 0  0   ,50% 100%}
  74%,100%{background-position: 0  0   ,50% 0   }
}

@keyframes db6-1 {
  90%  {transform:translateY(0)}
  95%  {transform:translateY(15px)}
  100% {transform:translateY(15px);left:calc(100% - 8px)}
}

@keyframes db6-2 {
  100% {top:-0.1px}
}

@keyframes db6-3 {
  0%,80%,100% {transform:translate(0)}
  90%         {transform:translate(26px)}
}
/* end of loader css */


img{
    margin-bottom: 60px;
    width: 200px;
    height:200px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* border: 2px solid; */
    /* box-shadow:2px 2px 5px 12px whitesmoke; */
    /* padding: 10px;
    border-radius: 5px; */
}
.image{
  background: url(../Assets/img/back.png);
  height: 600px;
  /* width: 600px; */
  background-size: contain;
  /* background-attachment: scroll; */
  background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background:url(../Assets/img/bg-for-main.png); */
    /* background: url(); */
}
.paragarap p{
    margin-top: -40px;
    color: black;
    width: 100%;
    background-color: white;
    font-weight: bolder;
    font-family: 'Lora', serif;
    text-align: center;
    text-indent: 30px;
    box-shadow:2px 2px 5px 12px whitesmoke; 
    padding: 10px;
    border-radius: 5px;
    /* -webkit-box-shadow: 0px 0px 38px -14px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 38px -14px rgba(0,0,0,0.75);
box-shadow: 0px 0px 38px -14px rgba(0,0,0,0.75); */
   
}
.color{
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(120,135,88,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 10px 10px 10px 10px solid ;
}
/* .semester{
    background: url(./image/wave-haikei\ \(1\).svg);
    background-size: cover;
} */
/* a{
    margin-top: 10px;
    margin: 10px;
 height: 20px;
 width: 20px;
 border: 2px solid white;
 border-radius: 10px;
 color: white;
 padding: 10px;
 text-decoration: none;
}
a:hover{
    background-color: white;
}
a::after{
    height: 60px;
} */
h4{
  color: black;
font-family: 'Noto Serif', serif;
font-size: 20px;
font-weight: bolder;
text-align: center;
    /* border-radius: 5px; */
    box-shadow:2px 2px 5px 12px whitesmoke; 
    padding: 10px;
    border-radius: 5px;

}
h6{
  color: black;
font-family: 'Noto Serif', serif;
font-weight: bolder;
text-align: center;
font-size: 15px;
margin-bottom: 20px;
}
/* h6 small{
    color: black;
  font-family: 'Noto Serif', serif;
  font-weight: bolder;
  text-align: center;
  font-size: 15px;
  margin-bottom: 20px;
  } */
h6 a{
  text-decoration: none;
  color: black;
}
h6 i{
  color: red;
}
/*  hide class */

/* navbar code */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
    border: 2px solid white;
 border-radius: 10px;
  background-color: black;
  color:#fff;
  /* border: none; */
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  text-align: justify;
  z-index: 1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-color:white;
  color: black;
  /* background: black; */
}

.dropdown-content a {
  color: black;
  font-weight: bolder;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  display: inline;
}

.dropdown-content a:hover {
  text-align: justify;
  /* background: black; */
  color:orange;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Optional styling for active link */
.dropdown-content a.active {
  background-color:white;
  color: black;
}
/* semester division */
.sem-main{
  /* background:url(https://img.freepik.com/free-vector/flat-design-abstract-background_23-2149114342.jpg?size=626&ext=jpg&ga=GA1.2.1940331963.1682264116&semt=ais); */
  padding:10% 0;
 ;
}

